//====================================================================================================
.page {

	// .page__hero
	&__hero {}
}

//====================================================================================================
.hero {
	padding-top: toRem(65);

	// .hero__container
	&__container {}

	// .hero__body
	&__body {
		max-width: toRem(955);
		margin: 0 auto;
		position: relative;
		display: grid;
		align-items: flex-start;
		grid-template-columns: 41.88% 31.099476% auto;
		/* 297/955 */
	}

	// .hero__title
	&__title {
		padding-top: toRem(51);
		color: rgb(255, 255, 255);
		font-family: "Lexend Deca";
		font-size: toRem(36);
		line-height: 1.33;
		letter-spacing: toRem(-1.5);
		max-width: toRem(400);
		position: relative;
		z-index: 5;
	}

	// .hero__media
	&__media {
		position: relative;
		margin-left: toRem(-115);
	}

	// .hero__main-image
	&__main-image {
		aspect-ratio: 412 / 459;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(2.7);
	}

	// .hero__content
	&__content {
		padding-top: toRem(8);
		position: relative;
	}


	// .hero__circle-image
	&__circle-image {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		max-width: toRem(243);
		object-fit: cover;
		border-radius: 50%;
		overflow: hidden;
		transform: translate(toRem(-65), 0);
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}	
	}

	// .hero__deco
	&__deco {
		position: absolute;
		z-index: -1;
		// .hero__deco--one
		&--one{
			aspect-ratio: 293 / 195;
			top: toRem(-74);
			right: toRem(-110);
		}
		// .hero__deco--two
		&--two{
			aspect-ratio: 239 / 278;
			bottom: toRem(-143);
			right: toRem(-87);
		}
	}


	// .hero__text
	&__text {
		max-width: toRem(230);
		line-height: 1.5; /* 24/16 */
		padding-left: toRem(36);
	}
}

//====================================================================================================
//====================================================================================================