//====================================================================================================
.page {

	// .page__hero
	&__hero {}
}

//====================================================================================================
.hero {
	padding-top: toRem(65);

	// .hero__container
	&__container {}

	// .hero__body
	&__body {
		max-width: toRem(955);
		margin: 0 auto;
		position: relative;
		display: grid;
		grid-template-columns: 41.88% 43.14% auto;
	}

	// .hero__title
	&__title {
		color: rgb(255, 255, 255);
		font-family: "Lexend Deca";
		font-size: toRem(36);
		line-height: 1.33;
		letter-spacing: toRem(-1.5);
		max-width: toRem(400);
		position: relative;
		z-index: 5;
	}

	// .hero__media
	&__media {
		position: relative;
		margin-left: toRem(-115);
	}

	// .hero__main-image
	&__main-image {}

	// .hero__circle-image
	&__circle-image {
		border-radius: 50%;
		width: toRem(243);
		height: toRem(243);
	}

	// .hero__deco
	&__deco {}

	// .hero__deco--one
	&__deco--one {}

	// .hero__deco--two
	&__deco--two {}

	// .hero__text
	&__text {}
}

//====================================================================================================