//====================================================================================================
.page {

	// .page__hero
	&__hero {}
}

//====================================================================================================
.hero {
	padding-top: toRem(65);

	// .hero__container
	&__container {}

	// .hero__body
	&__body {
		max-width: toRem(955);
		margin: 0 auto;
		position: relative;

		@media (min-width:toEm(600)) {
			display: grid;
			align-items: flex-start;
			grid-template-columns: 41.88% 31.099476% auto;
			/* 297/955 */
		}

	}

	// .hero__title
	&__title {
		padding-top: 11.111111%;
		/* 51/459 */
		color: rgb(255, 255, 255);
		font-family: "Lexend Deca";
		@include adaptiveValue("font-size", 36, 24, 0, 1026, 320);
		line-height: 1.33;
		letter-spacing: toRem(-1.5);
		max-width: toRem(400);
		position: relative;
		z-index: 5;

		@media (max-width:em(599.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	// .hero__media
	&__media {
		position: relative;

		@media (min-width:em(600)) {
			margin-left: toRem(-115);
		}

		@media (max-width:em(599.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	// .hero__main-image
	&__main-image {
		aspect-ratio: 412 / 459;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(2.7);
	}

	// .hero__content
	&__content {
		padding-top: toRem(8);
		position: relative;

		@media (max-width: toEm(599.98)) {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: toRem(10);
		}
	}

	// .hero__circle-image
	&__circle-image {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		max-width: toRem(243);
		object-fit: cover;
		border-radius: 50%;
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: toRem(30);
		}

		@media (min-width: toEm(600)) {
			transform: translate(toRem(-65), 0);
		}
	}

	// .hero__deco
	&__deco {
		position: absolute;
		z-index: -1;

		// .hero__deco--one
		&--one {
			max-width: 56.553398%;
			/* 233/412 */
			aspect-ratio: 293 / 195;
			top: -16.557734%;
			/* 76/459 */
			right: -26.699029%;
			/* 110/412 */
		}

		// .hero__deco--two
		&--two {
			max-width: 58.009709%;
			/* 239/412 */
			aspect-ratio: 239 / 278;
			bottom: -31.154684%;
			/* 143/459 */
			right: -21.116505%;
			/* 87/412 */
		}
	}


	// .hero__text
	&__text {
		line-height: 1.5;
		@media (min-width: toEm(600)) {
			max-width: toRem(230);
			padding-left: 15.652174%;
			/* 36/230 */
		}
	}
}

//====================================================================================================
//====================================================================================================